<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('home')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Ganti Password</h2>
                <br>
                <form th:action="@{/user/changepassword}" method="POST">

                    Password Lama: <br>
                    <input required class="form-control" type="password" name="oldPassword"/>
                    <br><br>

                    Password Baru : <br>
                    <input required class="form-control" type="password" name="newPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"/>
                    <br><br>

                    Konfirmasi Password Baru : <br>
                    <input required class="form-control" type="password" name="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"/>
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/">Kembali</a>
</div>

</body>

</html>