<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('bioskop')"></nav>
<div class="container">
    <h2>Daftar Seluruh Bioskop</h2>
    <br>

    <div th:if="*{listBioskop.size() !=0}">
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>No Bioskop</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Jumlah Studio</th>
                <th>Waktu Buka</th>
                <th>Waktu Tutup</th>
                <th>Detail</th>
                <th>Update</th>
                <th>Hapus</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bioskop, iterationStatus : ${listBioskop}"
                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${bioskop.noBioskop}"></td>
                <td th:text="${bioskop.namaBioskop}"></td>
                <td th:text="${bioskop.alamatBioskop}"></td>
                <td th:text="${bioskop.jumlahStudio}"></td>
                <td th:text="${bioskop.waktuBuka}"></td>
                <td th:text="${bioskop.waktuTutup}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/bioskop/view(noBioskop=${bioskop.noBioskop})}">Detail Bioskop</a>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/bioskop/update/} + ${bioskop.noBioskop}">Update</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" th:href="@{/bioskop/delete/} + ${bioskop.noBioskop}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="*{listBioskop.size() != 0}">
        <h2 th:text="'Tidak ada bioskop'"></h2>
    </div>

    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>